*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0px;
    z-index: 5;
    color: #fff;
    font-family: 'Comfortaa', cursive;
}

p{
    margin-bottom: 0;
}
    .small{
        background-image: url('../images/dj.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: auto;
    }

#question {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 5%;
    left: 50%;
    z-index: 2;
    width: 90%;
    min-height: 30%;
    text-align: center;
    
}
    
    h1{
        font-size: 15vh;
        font-family: 'Great Vibes', cursive;
        letter-spacing: 5px;
        font-weight: 500;
    }

.video-container{
    position: absolute;
    background-color: rgba(100, 10, 30, 0.6);
    /* background-color: rgba(0, 0, 30, 0.8); */
    /* background-color: rgba(0, 10, 30, 0.7); */
}

    #bg {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto;
        z-index: -10; 
    }

.counter{
    position: absolute;
    font-size: 40px;
    transform: translate(-50%, 0%);
    top: 30%;
    left: 50%;
    text-align: center;
}


.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, 50%);
    top: 43%;
    left: 50%;
    z-index: 2;
    width: 50%;
    min-height: 25vh;
    z-index: 10;
    text-align: center;
}

    .newsletter h2{
        letter-spacing: 2px;
        font-size: 2rem;
        margin-bottom: 2px;
    }

    .newsletter p{
        font-size: 1.11rem;
        margin-bottom: 5px;
    }

    form{
        margin-top: 5px;
    }
    .input {
        padding: 16px 2%;
        width:30%;
        margin-right: 0px;
        letter-spacing: 1px;
        font-size: 15px;
        color: #fff;
        max-width: 96%;
        outline:none;
        border:none;
        vertical-align: middle;
        background: rgba(14, 14, 13, 0.62);
    }
    .text{
        width: 20%;
    }
    .newsletter input[type="submit"] {
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        border: none;
        background: #F44336;
        padding: 15px 30px;
        outline: none;
        display: inline-block;
        vertical-align: middle;
        cursor:pointer;
    }   
    .newsletter input[type="submit"]:hover {
        background: rgba(247, 5, 87, 0.51);
    }
   
    .social{
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: 13%;
        left: 50%;

    }
    
    .w3ls-icons li {
        display: inline-block;
        margin: 0 .2em;
    }
    .w3ls-icons li a {
        width: 45px;
        height: 45px;
        border: 2px solid #fff;
        border-radius: 40px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .w3ls-icons li a span {
        color: #fff;
    }
    .w3ls-icons li a:hover {
        color: #fff;
    }
    .w3ls-facebook:hover {
        background: #3b5998;
        border: 2px solid #3b5998;
    }
    .w3ls-twitter:hover {
        background: #1da1f2;
        border: 2px solid #1da1f2;
    }
    
    .w3ls-google:hover {
        background: #dd4b39;
        border: 2px solid #dd4b39;
    }
    .w3ls-pinterest:hover {
        background: #bd081c;
        border: 2px solid #bd081c;
    }
    .w3ls-instagram:hover {
        background: #cd486b;
        border: 2px solid #cd486b;
    }
    

footer{
    position: absolute;
    width: 90%;
    bottom: 0.5%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
