*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    z-index: 5;
    color: #fff;
    /* background: -moz-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)); */
    
}

    .small{
        background-image: url('../images/dj.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: auto;

    }

#question {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 5%;
    left: 50%;
    z-index: 2;
    width: 90vw;
    min-height: 190px;
    text-align: center;
    
}
    
    h1{
        font-size: 6.0rem;
        font-family: 'Great Vibes', cursive;
        letter-spacing: 5px;
        font-weight: 500;
    }

.video-container{
    position: absolute;
    /* background-color: rgba(100, 10, 30, 0.8); */
    /* background-color: rgba(0, 0, 30, 0.8); */
    background-color: rgba(0, 10, 30, 0.7);
}
    #bg {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto;
        z-index: -10; 
    }

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, 50%);
    top: 30%;
    left: 50%;
    z-index: 2;
    width: 50%;
    min-height: 25vh;
    z-index: 10;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    /* border: 1px solid #fff; */
}

    .newsletter h2{
        letter-spacing: 2px;
        font-size: 2rem;
    }

    form{
        margin-top: 30px;
    }
    .newsletter input[type="email"] {
        padding: 16px 2%;
        width:50%;
        margin-right: 0px;
        letter-spacing: 1px;
        font-size: 15px;
        color: #fff;
        max-width: 96%;
        outline:none;
        border:none;
        vertical-align: middle;
        background: rgba(14, 14, 13, 0.62);
    }
    .newsletter input[type="submit"] {
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        border: none;
        background: #F44336;
        padding: 15px 30px;
        outline: none;
        display: inline-block;
        vertical-align: middle;
        cursor:pointer;
    }   
    .newsletter input[type="submit"]:hover {
        background: rgba(247, 5, 87, 0.51);
    }
        
        
